* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #222222;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-mobile {
  display: none;
}

.logo-wrapper {
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  padding: 0 15px;
  position: relative;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.nav-element:hover {
  background: #F16D7F;
}

.nav-element:hover .menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-box {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 75px;
  display: none;
  padding: 37px 34px;
  background: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.last {
  right: 0;
  left: auto;
}

.menu-name {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu-heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.menu-section {
  width: 166px;
}

.menu-section ul {
  padding: 12px 0 21px 20px;
}

.menu-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.menu-item:not(:last-of-type) {
  padding-bottom: 11px;
}

.menu-item:hover {
  color: #F16D7F;
}

.main-screen {
  background: #F1E4E6;
}

.main-screen-container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.main-screen-image img {
  display: block;
}

.main-screen h1 {
  font-size: 32px;
  padding-left: 16px;
  margin-left: 63px;
  font-weight: 700;
  border-left: #F16D7F 12px solid;
}

#first-row {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
}

.highlighting {
  color: #F16D7F;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 470px;
  padding-top: 65px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card h2 {
  position: absolute;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
}

.card span {
  font-weight: 700;
  font-size: 24px;
}

.catalog {
  margin: 96px 0;
}

.catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  padding-bottom: 6px;
}

.catalog p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.catalog-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 48px 0 18px 0;
}

.catalog-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.add {
  position: absolute;
  top: 188px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 10px 13px 8px 13px;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px 0 #F16D7F;
          box-shadow: 0 0 10px 0 #F16D7F;
}

.add-img {
  padding-right: 11px;
}

.catalog-item .item-img {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.catalog-item:hover .item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.catalog-item .add {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-item:hover .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-img {
  width: 100%;
}

.text-box {
  background: #F8F8F8;
  padding: 25px 28px 20px 18px;
}

.text-box h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.text-box p {
  padding: 12px 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  text-align: left;
}

.text-box span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.all-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 38px;
  color: #fff;
}

.button {
  background: #F16D7F;
  color: #fff;
  border: 1px solid transparent;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px #F16D7F solid;
}

.offer {
  background: #222224;
}

.offer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 341px;
}

.offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 360px;
}

.description h2 {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-bottom: 16px;
}

.description p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.offer-img-1 {
  margin-bottom: 28px;
}

.offer-img-2 {
  margin-bottom: 19px;
}

.offer-img-3 {
  margin-bottom: 25px;
}

.subscribe {
  background-image: url("../img/subscribe.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-clip: content-box;
}

.subscribe-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 86px 100px 156px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-content figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.subscribe-img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #000000;
  margin-bottom: 30px;
}

.italic {
  font-style: italic;
}

.subscribe-heading {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe-heading span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.subscribe_form {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.subscribe_form input {
  background: #E1E1E1;
  height: 49px;
  width: 60%;
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  border: none;
  outline: none;
  border-radius: 16px 0 0 16px;
}

.subscribe_form button {
  border-radius: 0 16px 16px 0;
  height: 49px;
  width: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

footer {
  background: #222224;
}

footer span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-brands {
  font-size: 16px;
  padding: 7px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.4s, border 0.4s;
  transition: color 0.4s, border 0.4s;
}

.fa-brands:hover {
  color: #F16D7F;
  border: 1px #F16D7F solid;
}

.fa-facebook-f {
  padding-left: 10px;
  padding-right: 10px;
}

.fa-instagram {
  padding-left: 8px;
  padding-right: 8px;
}

footer i:not(:last-of-type) {
  margin-right: 7px;
}

.breadcrump-section {
  background: #F8F3F4;
  color: #F16D7F;
  font-family: 'Lato',sans-serif;
  padding: 59px 0 60px 0;
}

.bc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bc-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.breadcrumb li {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.breadcrumb li:last-of-type {
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumb li:not(:first-of-type)::before {
  font-weight: 400;
  padding-left: 5px;
  padding-right: 4px;
  color: black;
  content: "/\00a0";
}

.breadcrumb li a {
  color: #636363;
  text-decoration: none;
}

.slider {
  width: auto;
  background: #F7F7F7;
  height: 777px;
}

.slider-container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
  position: relative;
}

.arrow-box {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrow {
  font-size: 21px;
  padding: 12px 17px;
  background: rgba(42, 42, 42, 0.15);
  color: #000000;
  border: 1px solid transparent;
}

.arrow:hover {
  color: #F16D7F;
}

.product {
  text-align: center;
}

.product-box {
  width: auto;
  border: 1px solid #EAEAEA;
  background: #fff;
  -webkit-transform: translate(0, -65px);
          transform: translate(0, -65px);
}

.product-content {
  width: 641px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .colection {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 550px;
  padding: 65px 0;
  margin: 0 auto;
}

.product-description hr {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  border: none;
  margin: 12px 0;
}

.product-description h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.product-description p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-description .price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32px;
}

.properties {
  width: 100%;
  border-top: 1px solid #EAEAEA;
  padding-top: 65px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.properties a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.fa-chevron-down {
  font-size: 10px;
  margin-left: 9px;
  margin-right: 22px;
}

.product-content .add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 56px 8px 23px;
  margin-bottom: 65px;
}

.add-to-cart:hover .fa-cart-shopping {
  color: #EF5B70;
}

.fa-cart-shopping {
  margin-right: 22px;
  font-size: 22px;
  color: #fff;
}

.catalog-product {
  margin-top: 16px;
}

.filtAndSort {
  margin-top: 39px;
}

.filtAndSort form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#filter {
  position: relative;
  width: 360px;
  z-index: 5;
  margin-right: 30px;
  cursor: pointer;
}

#filter[open] .filter-main-summary {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

#filter .filter-main-summary {
  padding: 13px 16px;
}

#filter summary {
  list-style: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

#filter .filter-main-box {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -1;
  top: 0;
  left: 0;
  padding: 46px 17px 16px 17px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: -6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: -6px 4px 35px rgba(0, 0, 0, 0.21);
}

#filter .filter-mini {
  color: #6F6E6E;
}

#filter .filter-mini:not(:first-of-type) {
  margin-top: 18px;
}

#filter .filter-mini[open] .filter-mini-summary {
  color: #EF5B70;
}

#filter .filter-mini .filter-mini-summary {
  font-weight: 400;
  line-height: 37px;
  padding-left: 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
}

#filter .filter-mini .filter-mini-box {
  padding: 24px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

#filter .filter-mini .filter-mini-box label:not(:last-of-type) {
  display: block;
  padding-bottom: 11px;
}

#filter .filter-mini .filter-mini-box label {
  color: #6F6E6E;
}

#filter .filter-mini .filter-mini-box label:hover {
  color: #EF5B70;
}

#filter .filter-mini .filter-mini-box:last-of-type {
  padding-bottom: 0;
}

.fa-filter {
  margin-left: 8px;
}

.drop-down {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  width: 79px;
  cursor: pointer;
  position: relative;
}

.drop-down summary {
  line-height: 17px;
  list-style: none;
}

.drop-down .drop-down-content {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -7px;
  top: 25px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.drop-down .drop-down-content label {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sizeFilter p {
  padding-left: 10px;
}

#trendingFilter {
  width: 157px;
}

#priceFilter {
  width: 90px;
}

.full-catalog {
  margin-top: 30px;
}

.pagination {
  width: 282px;
  border: 1px solid #EBEBEB;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
}

.pagination a {
  color: #C4C4C4;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.pagination a:hover {
  color: #EF5B70;
}

.pagination .active a {
  color: #EF5B70;
}

.pagination i {
  font-size: 14px;
  color: #000000;
}

.cart-btn-input_theme {
  font-weight: 300;
  color: #222222;
  background: #fff;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 128px;
}

.cart-content {
  width: 652px;
}

.cart-list__cart-item {
  margin-bottom: 40px;
  position: relative;
  height: 306px;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.cart-item__delete {
  position: absolute;
  right: 22px;
  top: 28px;
}

.cart-item__info {
  width: 100%;
}

.item-link {
  display: block;
  width: 262px;
  height: 100%;
}

.item-link__img {
  height: 100%;
}

.item-info {
  width: 100%;
  padding: 22px 31px;
  background: #fff;
}

.item-info__heading {
  margin-bottom: 42px;
}

.heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.parametrs__param {
  margin-bottom: 6px;
}

.param {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.param__quantity {
  margin-left: 24px;
  width: 43px;
}

.param-price {
  color: #EF5B70;
}

.param-quantity {
  border: 1px solid #EAEAEA;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.delete-x {
  font-size: 18px;
  -webkit-transition: color 0.4s, -webkit-transform 0.5s;
  transition: color 0.4s, -webkit-transform 0.5s;
  transition: color 0.4s, transform 0.5s;
  transition: color 0.4s, transform 0.5s, -webkit-transform 0.5s;
}

.delete-x_hover:hover {
  color: #EF5B70;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.cart__btns {
  margin-top: 32px;
}

.cart-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 14px;
  line-height: 49px;
  color: #000000;
  -webkit-transition: color 1s, border 1s, -webkit-transform 0.7s;
  transition: color 1s, border 1s, -webkit-transform 0.7s;
  transition: color 1s, border 1s, transform 0.7s;
  transition: color 1s, border 1s, transform 0.7s, -webkit-transform 0.7s;
}

.cart-btn_hover:hover {
  color: #EF5B70;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: #EF5B70;
}

.adress-and-buy {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress-and-buy__adress {
  margin-top: 17px;
  width: 100%;
}

.adress-and-buy__buy {
  margin-top: 57px;
}

.adress__h2 {
  margin-bottom: 21px;
}

.adress__input {
  margin-bottom: 21px;
  width: 100%;
  height: 45px;
}

.adress__submit {
  margin-top: 3px;
  width: 100px;
  height: 34px;
}

.adress-h2 {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: 300;
}

.adress-input {
  outline: none;
  padding: 12px 16px;
  font-size: 13px;
  line-height: 16px;
}

.adress-input:focus::-webkit-input-placeholder {
  color: #B1B1B1;
}

.adress-input:focus:-ms-input-placeholder {
  color: #B1B1B1;
}

.adress-input:focus::-ms-input-placeholder {
  color: #B1B1B1;
}

.adress-input:focus::placeholder {
  color: #B1B1B1;
}

.adress-submit {
  font-size: 11px;
  line-height: 34px;
  color: #4A4A4A;
  text-align: center;
}

.buy {
  padding: 39px 44px 42px 44px;
  background: #F5F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buy__prices {
  width: 100%;
}

.buy__submit {
  margin-top: 17px;
  display: block;
  width: 100%;
  min-height: 50px;
}

.prices {
  text-align: right;
  border-bottom: 1px #E2E2E2 solid;
  padding-bottom: 21px;
}

.prices__subtotal {
  margin-bottom: 12px;
}

.subtotal {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  font-weight: 400;
}

.grandtotal {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: 300;
}

.grandtotal__value {
  color: #F16D7F;
}

.buy-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 25px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  padding: 2%;
}

.reg-cont {
  padding: 64px 0 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.reg-cont__reg-form {
  width: 360px;
}

.reg-form {
  margin-right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reg-form__reg-heading {
  margin-bottom: 20px;
}

.reg-form__gender {
  margin-top: 31px;
  margin-bottom: 33px;
  width: 100%;
}

.reg-form__pass-rules {
  margin-top: 15px;
  margin-bottom: 39px;
}

.reg-heading {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: 300;
}

.inputs-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputs-box__input:not(:last-of-type) {
  margin-bottom: 21px;
}

.reg-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #A4A4A4;
  padding: 0 17px;
  width: 100%;
  height: 44px;
  text-align: left;
  outline: none;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.reg-input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.reg-input:-ms-input-placeholder {
  color: #B1B1B1;
}

.reg-input::-ms-input-placeholder {
  color: #B1B1B1;
}

.reg-input::placeholder {
  color: #B1B1B1;
}

.gender {
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 300;
}

.gender__radio-box:not(:last-of-type) {
  margin-right: 20px;
}

.radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-box__radio {
  margin-right: 10px;
}

.pass-rules {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  font-weight: 300px;
}

.reg-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-height: 50px;
  padding: 0 29px;
}

.reg-btn__arrow {
  margin-left: 20px;
}

.loyalty-perks {
  max-width: 659px;
}

.loyalty-perks__loyalty-heading {
  margin-bottom: 22px;
}

.loyalty-perks__loyalty-info {
  margin-bottom: 27px;
}

.perk-list__perk-item {
  margin-bottom: 16px;
}

.perk-check {
  margin-right: 23px;
  font-size: 20px;
}

.loyalty_text {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-weight: 300;
}

@media screen and (max-width: 1160px) {
  .reg-cont {
    padding-top: 40px;
    padding-bottom: 96px;
  }
  .content {
    padding-left: 2.3%;
    padding-right: 2.3%;
  }
  .loyalty-perks {
    width: 50%;
  }
  .subscribe-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  header .content {
    padding: 0 4.4%;
  }
  .cart-content {
    width: 68%;
  }
  .adress-and-buy {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .loyalty_text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  .reg-form {
    width: 48%;
  }
  .loyalty-perks {
    width: 46%;
  }
  .subscribe-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding: 7% 2% 18.3% 2%;
  }
  .subscribe_form {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 7%;
    width: 70%;
  }
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__btns {
    margin: 62px auto 65px auto;
  }
  .cart-btns {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cart-content {
    width: 100%;
  }
  .adress-and-buy {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .adress-and-buy__adress, .adress-and-buy__buy {
    width: 48.5%;
  }
  .item-info {
    padding-right: 8%;
  }
}

@media screen and (max-width: 500px) {
  .reg-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reg-form {
    width: 100%;
    margin-bottom: 40px;
  }
  .loyalty-perks {
    width: 100%;
  }
  .footer-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 43px;
  }
  .subscribe_form {
    width: 100%;
  }
  .social {
    margin-bottom: 25px;
  }
  .bc-content {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .nav-right {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5% 0;
  }
  .cart {
    padding-top: 39px;
    padding-bottom: 96px;
  }
  .cart-list__cart-item {
    height: 188px;
    margin-bottom: 30px;
  }
  .item-info {
    padding: 13px 20px 13px 17px;
  }
  .item-info__heading {
    margin-bottom: 25px;
  }
  .parametrs__param {
    margin-bottom: 4px;
  }
  .cart-item__delete {
    top: 17px;
    right: 12px;
  }
  .delete-x {
    font-size: 11px;
  }
  .heading {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }
  .param {
    font-size: 14px;
    line-height: 17px;
    color: #575757;
  }
  .cart-btns {
    margin: 0;
  }
  .cart-btn {
    font-size: 12px;
    line-height: 32px;
    color: #000000;
    width: 48%;
  }
  .adress-and-buy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .adress-and-buy__adress, .adress-and-buy__buy {
    width: 100%;
  }
  .adress-and-buy__adress {
    margin-top: 48px;
  }
}
/*# sourceMappingURL=style.css.map */