* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
header {
    background: #222222;
    padding: 18px 0;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav-left {
    width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.nav-right {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-screen {
    background: #F1E4E6;
}
.main-screen-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}
.main-screen-image img {
    display: block;
}
.main-screen h1 {
    font-size: 32px;
    padding-left: 16px;
    margin-left: 63px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-left: #F16D7F 12px solid ;
}
#first-row {
    font-size: 48px;
    font-weight: 900;
}
.highlighting {
    color: #F16D7F;
}