* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
header {
    background: #222222;
}
header .container {
    display: flex;
    justify-content: space-between;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
}
.logo-wrapper {
    width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.nav-element {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 15px;
    position: relative;
}
.nav-element:hover {
    background: #F16D7F;
}
.nav-element:hover .menu-box {
    display: flex;
}
.menu-box {
    position: absolute;
    left: 0;
    top: 75px;
    display: none;
    padding: 37px 34px;
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    flex-direction: column;
}
.last {
    right: 0;
    left: auto;
}
.menu-name {
    padding-bottom: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.menu-heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}
.menu-section {
    width: 166px;
}
.menu-section ul {
    padding: 12px 0 21px 20px;
}
.menu-item {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.menu-item:not(:last-of-type) {
    padding-bottom: 11px;
}
.menu-item:hover {
    color: #F16D7F;
}
.main-screen {
    background: #F1E4E6;
}
.main-screen-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}
.main-screen-image img {
    display: block;
}
.main-screen h1 {
    font-size: 32px;
    padding-left: 16px;
    margin-left: 63px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-left: #F16D7F 12px solid ;
}
#first-row {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
}
.highlighting {
    color: #F16D7F;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 470px;
    padding-top: 65px;
}
.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2 {
    position: absolute;
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
}
.card span {
    font-weight: 700;
    font-size: 24px;
}