footer {
    background: #222224;
}
footer span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-brands {
    font-size: 16px;
    padding: 7px;
    background: #fff;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: color 0.4s, border 0.4s;
}
.fa-brands:hover {
    color: $main-color;
    border: 1px $main-color solid;
}
.fa-facebook-f {
    padding-left: 10px;
    padding-right: 10px;
}
.fa-instagram {
    padding-left: 8px;
    padding-right: 8px;
}
footer i:not(:last-of-type) {
    margin-right: 7px;
}